
{% extends "index.html.twig" %}
{% block title %}Confirmation suppression{% endblock %}
{% block section %}

    <h1>Voulez vous vraiment supprimer <p>{{ membre.prenom }} {{ membre.nom }} ?</p></h1>
    <form  method="POST" class="mt-4">

        <input hidden name="idMembre" value="{{ membre.idMembre }}">
        <button type="submit" class="btn btn-danger" type="submit" name="supprMembre" value="Supprimer" >
            <i class="fas fa-trash" ></i>
            supprimer
        </button>
        <a href=" ?action=projet&id={{ projet.idProjet }}" class="btn btn-secondary">Annuler</a>

    </form>


{% endblock %}