{% extends "index.html.twig" %}

{% block title %}Confirmation de suppression{% endblock %}

{% block section %}

    <h1>Voulez vous vraiment supprimer <p class="mark">{% if projet %}{{ projet.nomProjet }}{% endif %}</p></h1>
    <form action="" method="POST" class="mt-4">
        {% if projet %}
            <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
        {% endif %}
        <button type="submit" class="btn btn-danger" name="{% if projet %}valider_supprimer_projet{% endif %}" value="true">
            supprimer
        </button>
        <a href=" ?action=projet&id={{ projet.idProjet }}" class="btn btn-secondary">Annuler</a>

    </form>

{% endblock %}
