//Customize the bootstrap colors
$primary: #FE9A1B;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$body:#ffffff;
$body-bg: #131312;
$body-secondary-bg :#000000;
$body-color:#ffffff;
$card-bg : #6b6b64;

$table-color : $body-color;

$navbar-light-brand-color: $body-color;

input:disabled{
  border : none;
  background: unset;
}

.infos{
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
      flex:1;
    }
    input{
      flex:2;
    }
  }
}

nav .navbar-nav{
  a.nav-link {
    color: $body-color !important;
    &:hover {
      color: $primary !important;
    }
    &.active {
      color: $primary !important;
    }
  }
}
.a{
}
.card a{
  color: white !important;
  text-decoration: none !important;
  &:has(img:hover){
    .a {
      color: $primary !important;
    }
  }

  :hover{
    .a{
      color: $primary
    }
  }
  .a{
    text-decoration: underline;
  }
}

mark, .mark{
    background-color: inherit !important;
    color: $primary !important;
}

a{
  transition: color 4s ease-in-out;
  :hover{
    transition: color 2s ease-in-out;
  }
}

// change the base color

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
        "body": $body-bg,
        "body-color": $body-color
);

// Path: styles/index.scss
// Import the bootstrap styles
@import "node_modules/bootstrap/scss/bootstrap";
// import navlink

